
<div class="container">
  <% emotionObj %>  
  <% var noun = ""; %>
  <% var score = 0; %>
  <% for (var tone in emotionObj) {
      if (emotionObj[tone] > score) {
        noun = tone;
        score = emotionObj[tone];
      }
    } %>
  <% noun = noun.toLowerCase(); %>

  <h5 class="grey-text subheading" id="newsheading">The following articles may help you understand why people are feeling <%= noun %> about <%= keyword %>
  </h5>
  
</div>

<div class="container spacing">
</div>

<div class="container" id="error-msg">  
  <div class="row" id="news">

  </div>
</div>

<%# <div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>

    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>
  </div>
</div>%>

<div class="container spacing">
</div>

<script>
  //var storedData = JSON.parse(localStorage.getItem('data'));
  var newsData = newsData;

  if (typeof newsData !== "string") {    
    var newsArray = newsData;
    var newsBlock = document.getElementById("news");
    newsArray.forEach(function(newsObj){    
      var heading = document.createElement('div');
      var title = newsObj.title;
      var url = newsObj.url;
      var text = newsObj.text.slice(0, 180);
      var regPunc = /[,!.?]/gi;
      if (text[text.length] !== regPunc) {
        text += " ...";
      }
      heading.className = 'col l6 s12 newsBlock';
      heading.innerHTML = 
        `<h6 class="grey-text headline">
          <a href="${url}" target=_blank>${title}</a>
        </h6>
          <p class="grey-text">${text}</p>`;

      newsBlock.appendChild(heading);
    });
  } else if (typeof newsData === "string") {
    var newsHeading = document.getElementById("newsheading");
    newsHeading.innerHTML = newsData;
  }

</script>
