
<div class="container">
  <% emotionObj %>
  <% var noun = ""; %>
  <% var score = 0; %>
  <% for (var tone in emotionObj) {
      if (emotionObj[tone] > score) {
        noun = tone;
        score = emotionObj[tone];
      }
    } %>
  <% noun = noun.toLowerCase(); %>

  <% var url = url ;%>
  <% console.log(url); %>


  <h5 class="grey-text">The following articles may help you understand why people are feeling <%= noun %></h5>
</div>

<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>

    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>

    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>
  </div>
</div>

<<<<<<< dc7dbb7a403421e3a4533ef5f032262d77166d9a
<script>
var newsData;
function loadXMLDoc(url) {
  var xmlhttp = new XMLHttpRequest();

  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
      if (xmlhttp.status == 200) {
       var parsedNewsData = JSON.parse(xmlhttp.responseText);
       console.log(parsedNewsData);
       newsData = parsedNewsData;
      //  console.log(newsData.articles);

      // newsData.articles.forEach(function(article){
      //    data.push(article);
      //  });
      }
      else if (xmlhttp.status == 400) {
        alert('There was an error 400');
      }
      else {
         alert('something else other than 200 was returned');
      }
    }
  };

  xmlhttp.open("GET", url, true);
  xmlhttp.send();
}
loadXMLDoc('https://gateway-a.watsonplatform.net/calls/data/GetNews?outputMode=json&start=now-1d&end=now&count=5&q.enriched.url.title='+ keyword +'&return=enriched.url.url,enriched.url.title,enriched.url.text&apikey=url');

console.log(newsData);
</script>
