
<div class="container">
  <% emotionObj %>
  <% var noun = ""; %>
  <% var score = 0; %>
  <% for (var tone in emotionObj) {
      if (emotionObj[tone] > score) {
        noun = tone;
        score = emotionObj[tone];
      }
    } %>
  <% noun = noun.toLowerCase(); %>
  <h5 class="grey-text">The following articles may help you understand why people are feeling <%= noun %></h5>
</div>

<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>

    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>

    <div class="col l6 s12" id="news">
      <h5 class="grey-text">News Headline</h5>
      <p class="grey-text text-lighten-4">With memories like these in him, and, moreover, given to a certain superstitiousness, as has been said; the courage of this Starbuck which could, nevertheless, still flourish, must indeed have been extreme.</p>
    </div>
  </div>
</div>

<script>
var newsHeadlines;
function printHeadlines(arr) {
  var title = newsArray[0].source.enriched.url.title;
  var newsBlock = document.getElementById("news");
  newsBlock.append('<h5 class="grey-text">title</h5>');
}

function loadXMLDoc(url) {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
      if (xmlhttp.status == 200) {
        var parsedNewsData = JSON.parse(xmlhttp.responseText);
        var newsArray = parsedNewsData.result.docs;        
        console.log(newsArray);      
      }   
      else if (xmlhttp.status == 400) {
        alert('There was an error 400');
      }
      else {
         alert('something else other than 200 was returned');
      }
    }
  };

  xmlhttp.open("GET", url, true);
  xmlhttp.send();
}
loadXMLDoc('https://gateway-a.watsonplatform.net/calls/data/GetNews?outputMode=json&start=now-1d&end=now&count=5&q.enriched.url.title='+ keyword +'&return=enriched.url.url,enriched.url.title,enriched.url.text&apikey='+url);

</script>