
<div class="container">
  <h5 class="grey-text subheading">Suggestions based on your search about <%= keyword %></h5>
</div>

<div class="container spacing">
</div>

<div class="container">
  <div class="row valign-wrapper" >
	  <form name="taglinks" action="/searchresults" method="post" id="tags">
		  
		</form>
  </div>
</div>

<div class="container spacing">
</div>

<script>
	var tags =  spanTags.fulfillmentValue ;
	var spanTags = '';
	tags.forEach(function(tag){
	  var random = Math.floor(Math.random() * tags.length);	  
	  spanTags += `<button type="submit" name="keyword" value="${tag}" class="tags bucket${random}">${tag}</button>`;
	});

	var tagsBlock = document.getElementById("tags");
	var heading = document.createElement('div');
	heading.className = 'col l12 s12, center-align';
	heading.innerHTML = spanTags;
	tagsBlock.appendChild(heading);
</script>
