
<div class="container">
  <h5 class="grey-text subheading">Suggestions based on your search about <%= keyword %></h5>
</div>

<div class="container spacing">
</div>

<div class="container">
  <div class="row valign-wrapper" id="tags">

  </div>
</div>

<div class="container spacing">
</div>

<script>
var tags = ['Jimmy Carter Immigration Ban', 'Immigration Bans in US History', 'Trump Muslim Immigration Ban', 'Trump Immigration Ban', 'Ban on Muslim Immigration',
            'Bill Clinton Muslim Immigration Ban', 'Should Immigration Be Banned', 'Random musings about ice cream'
];
var spanTags = '';
tags.forEach(function(tag){
  var random = Math.floor(Math.random() * tags.length);
  spanTags += '<a href="/searchresults/'+ tag+'"  class="bucket'+ random +'">'+ tag + '</a>';
});
console.log(spanTags);

var tagsBlock = document.getElementById("tags");
var heading = document.createElement('div');
heading.className = 'col l12 s12, center-align';
heading.innerHTML = spanTags;
tagsBlock.appendChild(heading);

//<span class="bucket0">Jimmy Carter Immigration Ban</span><span class="bucket0">Immigration Bans in US History</span><span class="bucket6">Trump Muslim Immigration Ban</span><span class="bucket9">Bill Clinton Muslim Immigration Ban</span><span class="bucket0">Trump Immigration Ban</span><span class="bucket7">Ban on Muslim Immigration</span><span class="bucket1">Did Jimmy Carter Ban Immigration</span><span class="bucket3">Should Immigration Be Banned</span>

</script>
