<% include partials/header %>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Tone Analyzer</h1>
      <div class="row center">
        <h5 class="header col s12 light">Learn how the Twitterverse feels about your topic.</h5>
      </div>
      <!-- Input Text Area -->
      <div class="row center">
        <form method="post" action="/searchKeyword">
          <label for="keyword"></label>
          <input type="text" id="keyword" name="keyword" class="usertext" placeholder="What would you like to know?" autofocus></input>
          <button id="download-button" type='submit' class="btn-large waves-effect waves-light orange">Get Started</button>
        </form>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Get a fast and simple response</h5>

            <p class="light">Learn about how the world is feeling about your product, topic of interests, or anything else you'd like to know.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">Partnered with Twitter, the response is just a few words describing the emotions and social tendencies from users in the Twitterverse.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Super easy to use and get feedback</h5>

            <p class="light">All that you'd need to do is type in a topic of interest. That could be about Obama's Presidential Farewell speech, the Golden Globes Award show, or even a person like Aziz Ansari. Give it a shot!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <% include partials/footer %>
