<h1>Test</h1>

<% console.log(highestTone); %>


<% highestTone.forEach(function(emotion){ %>
  <h3> <%= emotion[2] %> :<%= emotion[1].tone_name %></h3>
  <h3> <%= emotion[1].tone_name %></h3>
<%}); %>
