.brand-logo {
	font-family: 'Lobster', cursive;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.headline {
	height: 30px;
}

.headline a {
	text-decoration: none;
	color: inherit;
}

.headline a:hover {
	color: #424242;
}

.row .col.l6 {
  width: 48%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.newsBlock {
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
  border: solid 1px white;
}

.usertext, .subheading {
	text-align: center;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.socialicons {
	margin: 0 10px;
}

.spacing {
	margin: 30px 0;
}

#tags span {	
	padding-right: 30px;
}

.bucket0 { font-size: 1.5rem; color: #81d4fa;}
.bucket1 { font-size: 1rem; color: #29b6f6}
.bucket2 { font-size: 1.2rem; color: #03a9f4}
.bucket3 { font-size: 1.13rem; color: #0288d1}
.bucket4 { font-size: 1rem; color: #039be5}
.bucket5 { font-size: 1.48rem; color: #29b6f6}
.bucket6 { font-size: 1.25rem; color: #03a9f4}
.bucket7 { font-size: 1rem; color: #0277bd}
.bucket8 { font-size: .95rem; color: #81d4fa}
.bucket9 { font-size: 1.4rem; color: #039be5}